 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: 1rem;
    background-color: #fa8541;
    display: flex;
    justify-content: space-between;
}
.logo a{
    font-size: 2rem;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.menu{
    display: flex;
    list-style: none;
    align-items: center;
}
.menu li{
    margin: 0 1rem;
}
.menu li a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

body {
    background-color: #141414;
}

.seach_bar{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}

.container{
    padding-top: 50px;
    padding-left: 35%;
}
.container form{
    width: 300px;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container form input{
    border: none;
    outline: none;
    box-shadow: none;
    width: 300px;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 10px;
}

.seach_bar{
    width: 100%;
    border: 1px red;
    border-radius: 4px;
}

#searchbutton{
    font-size: 34px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    color:white;
    background-color: #fa8541;
    border: none;
} 

#panel-job{
	width: 100%;
	height: 50px;
}

#container-job{
	width:100%;
	display: flex;
	justify-content: center;
}

#layer{
	display: flex;
	width:70%;
	flex-wrap: wrap;
	justify-content: center;
}

#layer div{
    border-radius: 25px;
    padding: 10px;
    width:600px;
    border: 2px solid black;
    background-color: white;
    height: 200px;
    margin: 1%;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}