* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
}

#info{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
}
header{
    padding: 1rem;
    background-color: #fa8541;
    display: flex;
    justify-content: space-between;
}
.logo a{
    font-size: 2rem;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.menu{
    display: flex;
    list-style: none;
    align-items: center;
    
}
.menu li{
    margin: 0 1rem;
}
.menu li a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.card {
  width: 500px;
  background: white;
}
span {
    font-size: 20px;
    color: grey;
}

#browsePic{
	display: inline-block;
	margin-right: 3%;
}
#displayPic{
	/*display: inline-block;*/
	width:120px;
	height: 100px;
	border: 2px solid black;

	/*background-color: #94A5AC;*/
}

img{
	width:100%;
	height: 100%;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /*<div class="grid-container">

			<div class="item1">
				
				<div id="browsePic">
					<div id="displayPic">
						<img src= "img/avatar.png" alt="">
					</div>
					<form action="/profilepic" method="post" id="formId" enctype="multipart/form-data">
						<input type="file" id="fileField" name="avatar" value="fileToUpload" placeholder="" hidden>
					</form>
				</div>
				
				Hello <span id="username"> </span>, Welcome back!
			</div>
			
  			<div class="item2"> <a href="/logout"> Logout</a> </div>
  			<div class="item3">
  				<div id="posting">
  					<textarea name="msg" id="textmsg" value="" placeholder="" rows="4" cols="50"></textarea>
					<br>
  					<button id="postbutton">Post</button>
  				</div>
  				<hr>
  				<div id="feed-container">
  					
  				</div>
  				
  			</div>  
		</div>

    <header>
			<div class = "logo">
				<a href="#">EVERYWHERE</a>
			</div>
		   <ul class="menu">
			<li><a href="#">Search</a></li>
			<li><a href="#">Login</a></li>
			<li><a href="#">Register</a></li>
		   </ul>
		</div>    
	</div>
		</header>
		
		<div id="mySidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<a href="Profile.html">Profile</a>
			<a href="feed.html">Edit Profile</a>
			<a href="Resume.html">Resume</a>
			<a href="Your_job.html">Your Job</a>
			<a href="/logout"> Logout</a>
		  </div>
	
		  <span onclick="openNav()">Menu</span>
		
		<div id="main">
			<div id="info">
			Profile
			<br>
			<div id="browsePic">
					<div id="displayPic">
						<img src= "img/avatar.png" alt="">
					</div>
					<form action="/profilepic" method="post" id="formId" enctype="multipart/form-data">
						<input type="file" id="fileField" name="avatar" value="fileToUpload" placeholder="" hidden>
					</form>
				</div>

			

  				<div id="posting">
  					<textarea name="msg" id="textmsg" value="" placeholder="" rows="4" cols="50"></textarea>
					<br>
  					<button id="postbutton">Post</button>
  				</div>
  				<hr>
  				<div id="feed-container">
  					
  				</div>
		
		</div>	
  		</div>